<form [formGroup]="personForm">
  <mat-form-field >
    <mat-label>Name:</mat-label>
    <input type="text" matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <div formArrayName="friends">
    <div *ngFor="let friend of friends.controls; let i=index">
      <mat-form-field style="width:90%">
        <mat-label>Friend {{i+1}}:</mat-label>
        <input matInput placeholder="Friend" [formControlName]="i">
      </mat-form-field>
      <div style="width:10%; float:right;">
      <button mat-mini-fab (click)="deleteFriend(i)"><mat-icon>cancel</mat-icon></button>
      </div>
    </div>
    <button mat-raised-button (click)="addFriend()">Add Friend +</button>
  </div>
  <mat-form-field>
    <mat-label>Age:</mat-label>
    <input matInput placeholder="Age" formControlName="age">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Security term:</mat-label>
    <input matInput placeholder="bingo" formControlName="security">
  </mat-form-field>
  <button [disabled]="formInvalid()" mat-raised-button color="primary" (click)="addPerson()">Add Person</button>
  <br>
  <br>
  <button (click)="resetStore()" mat-raised-button color="accent">Reset NgRx Store</button>
  <br>
  <br>
  <button (click)="loadFirebaseStore()" mat-raised-button color="accent">Load Firebase Store</button>
  <br>
  <br>
  <mat-card *ngIf="people?.size">
  <mat-list dense>
    <div mat-subheader>PEOPLE</div>
    <mat-list-item *ngFor="let person of people | keyvalue">
      <div mat-line>{{person.key}}</div>
    </mat-list-item>
  </mat-list>
  </mat-card>
</form>
